# CONFIG OPTIONS
#
# Allow local workspace config to select a different default:
try-import %workspace%/.bazelrc.local

# Old C++ CPU/CROSSTOOL toolchain API:
build --crosstool_top=//toolchains

# Show test failures:
test --test_output=errors
