# CONFIG OPTIONS
#
# Allow local workspace config to select a different default:
try-import %workspace%/.bazelrc.local

# Keep WORKSPACE mode during migration to Bazel 8+.
common --enable_workspace
common --enable_bzlmod

# Old C++ CPU/CROSSTOOL toolchain API:
build --crosstool_top=//toolchains

# Show test failures:
test --test_output=errors
