[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo
[submodule "third_party/libtiff"]
	path = third_party/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
