[submodule "third_party/lz4"]
	path = third_party/lz4
	url = git@github.com:bwlewis/lz4
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = git@github.com:madler/zlib
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://git.code.sf.net/p/libpng/code
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = git@github.com:libjpeg-turbo/libjpeg-turbo
