$header-height: 64px
$left-sidebar-width: 256px

$pad-half: 4px
$pad: $pad-half * 2
$pad-double: $pad * 2
$pad-content: $pad-double + $pad

$button-size: 48px

.notebook-ui
  display: grid
  grid-template-areas: "head head head" "left main side"
  grid-template-columns: 1fr auto
  grid-template-rows: auto auto 1fr

  color: rgb(var(--on-background))
  background-color: rgb(var(--background))

  header.head
    grid-area: head
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: $pad

    .logo
      display: flex
      align-items: center
      font-size: 48px

    .icons
      display: flex
      flex-direction: row


    .right
      justify-content: flex-end

    button.icon
      width: $button-size
      height: $button-size
      border: none
      border-radius: 100%
      margin: $pad-half

      display: flex
      align-items: center
      justify-content: center

      span
        line-height: $button-size


  aside.left
    grid-area: left
    width: $left-sidebar-width - $pad-double - $pad-double
    padding: $pad-double


  main.main-content
    grid-area: main
    margin-right: $pad-double
    margin-bottom: $pad-double
    line-height: 1.75
    font-size: 16px

    p, pre
      margin: 16px 0 32px

    pre
      padding: 16px

    pre, code
      font-family: var(--font-code)
      color: var(--on-surface-variant)
      background-color: var(--surface-variant)

    :not(pre) > code
      padding: 2px 4px

    a
      color: var(--primary)

      &:hover
        color: var(--on-primary-container)

  aside.right
    grid-area: side

button.icon
  color: inherit
  background-color: transparent
  cursor: pointer

  --alpha: 0
  background-color: rgba(var(--on-background), var(--alpha))

  &:hover
    --alpha: 0.08

  &:active
    --alpha: 0.12

body
  &.dark .toggle-dark,
  &.light .toggle-light,
  &:not(.dark):not(.light) .toggle-default-brightness
    display: none !important

@media (prefers-color-scheme: dark)
  body:not(.light) .toggle-dark
    display: none !important

@media (prefers-color-scheme: light)
  body:not(.dark) .toggle-light
    display: none !important
