$header-height: 64px
$left-sidebar-width: 256px

$pad-half: 4px
$pad: $pad-half * 2
$pad-double: $pad * 2

$button-size: 48px

.notebook-ui
  display: flex
  flex-direction: column
  height: 100%
  overflow: hidden

  .grid
    display: grid
    grid-template-areas: "logo head head" "left main side"
    grid-template-columns: 1fr auto
    grid-template-rows: auto auto 1fr

    .logo
      grid-area: logo
      background: orange


    header.head
      grid-area: head
      display: flex
      flex-direction: row
      justify-content: flex-end
      padding: $pad
      gap: $pad

      button
        width: $button-size
        height: $button-size
        border: none
        border-radius: 100%
        margin: $pad-half

        // Turn the buttons into flex elements.
        // Otherwise the icons would be slightly misaligned vertically.
        display: flex
        align-items: center
        justify-content: center

        span
          line-height: $button-size


    aside.left
      grid-area: left
      width: $left-sidebar-width - $pad-double - $pad-double
      padding: $pad-double


    main.main-content
      grid-area: main

    aside.right
      grid-area: side

body
  &.dark .toggle-dark,
  &.light .toggle-light,
  &:not(.dark):not(.light) .toggle-default-brightness
    display: none !important

@media (prefers-color-scheme: dark)
  body:not(.light) .toggle-dark
    display: none !important

@media (prefers-color-scheme: light)
  body:not(.dark) .toggle-light
    display: none !important
