// Values from https://developer.mozilla.org.
.token
  &.comment,
  &.prolog,
  &.doctype,
  &.cdata
    color: rgb(var(--code-token-comment))

  &.punctuation
    color: rgb(var(--code-token-punctuation))

  &.attr-name,
  &.builtin,
  &.inserted,
  &.selector,
  &.property,
  &.class-name,
  &.function
    color: rgb(var(--code-token-attribute-name))

  &.atrule,
  &.attr-value
    color: rgb(var(--code-token-attribute-value))

  &.keyword
    color: rgb(var(--code-token-tag))

  &.tag,
  &.char,
  &.string,
  &.boolean,
  &.number,
  &.constant,
  &.symbol,
  &.deleted
    color: rgb(var(--code-token-attribute-value))

  &.selector,
  &.builtin,
  &.template-string > .token.string,
  &.inserted
    color: rgb(var(--code-token-selector))

  &.important,
  &.bold
    font-weight: bold

  &.italic
    font-style: italic

  &.entity
    cursor: help

.notebook-ui
  pre
    padding: $pad

  pre, code
    background-color: rgb(var(--code-bg))
    font-family: var(--font-code)

  :not(pre) > code
    padding: 2px 4px

  .cell
    display: flex
    flex-direction: column
    margin: 16px 0 32px
    gap: $pad

    > div:empty
      display: none

    pre
      --gutter: 4px
      --border: rgba(var(--primary), 0.2)
      margin: 0 0 0 calc(0px - var(--gutter)) !important
      border-left: var(--gutter) solid var(--border)

    &.run
      &.ok pre
        --border: rgb(var(--green))
      &.pending pre
        --border: rgb(var(--yellow))
      &.err pre
        --border: rgb(var(--red))

    .controls
      display: flex
      gap: $pad

      button
        --text: var(--white)
        --background: var(--blue)

        color: rgb(var(--text))
        background-color: rgb(var(--background))
        border: none
        border-radius: 24px
        font-size: 14px
        cursor: pointer
        padding: $pad $pad * 3 $pad $pad * 2
        gap: $pad

        display: flex
        align-items: center
        justify-content: center

        position: relative
        overflow: hidden

        &::before
          --alpha: 0
          content: ""
          background-color: rgba(var(--text), var(--alpha))

          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0

        &:hover::before
            --alpha: 0.08

        &:active::before
            --alpha: 0.12

        span
          z-index: 1
