.notebook-ui main.main-content
    pre
      padding: 16px

    pre, code
      font-family: var(--font-code)
      line-height: 1.75
      border-radius: 0

    :not(pre) > code
      color: var(--on-surface-variant)
      background-color: var(--surface-variant)
      padding: 2px 4px

