#content
  .cell
    display: flex
    flex-direction: column


    > .src, > .dst
      display: flex
      flex-direction: row

      > .gut
        display: flex
        flex-direction: column
        width: 48px

    > .src > pre
      flex: 1
